*
  margin: 0
  padding: 0

@import "vars"
@import "fonts"
@import "mixins"
@import "container"
@import "header"
@import "footer"
@import "main"
@import "items"
@import "button"

html, body
  height: 100%

.box-body
  display: flex
  flex-direction: column
  min-height: 100%

.box-not-footer
  flex: 1

.catalog
  margin-bottom: 96px

  &-clothes-box
    display: grid
    gap: 2.63%
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: auto 
    margin-top: 65px
    margin-bottom: 30px
    justify-content: space-between
  
.img-catalog-clothes
  width: 100%
  transition: all 1s   

.card-catalog-clothes:hover .img-catalog-clothes
  filter: brightness(170%)
  transform: scale(1.1)

.accesories-img
  width: 100%
  margin: 0 auto 
  transition: all 1s  

.card-accesories:hover .accesories-img
  filter: brightness(170%)
  transform: scale(1.1) 

.txt-catalog-clothes
  transform: translate(0px, -150px)
  @include txt(uppercase, null, 16px, 19px, center)
  color: #FFFFFF

.span-txt-catalog
  @include txt(null, null, 24px, 29px, null)
  color: $color-option
  font-family: 'Lato-Bold'

.txt-accesories
  @include txt(uppercase, null, 16px, 19px, center)
  color: #FFFFFF
  transform: translate(0px, -100px)

.featured
  width: 100%

  &-box
    margin-bottom: 96px

.heading-featured
  @include txt(capitalize, 400, 30px, 36px, center)
  color: #222222

.txt-featured
  @include txt(null, null, 14px, 17px, center)
  margin-top: 6px
  margin-bottom: 48px
  color: #9F9F9F

.service
  width: 100%
  min-height: 341px
  background: #222224

  &-section-box
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 341px

.img-service-section
  margin: 0 auto
  display: block

.link-service
  display: block
  text-decoration: none

.service-section
  box-sizing: border-box

.service-section:hover h4
  font-size: 1.5em

.service-section:hover p
  color: $color-option
  font-size: 1.5em

.heading-service-section
  @include txt(null, 400, 20px, 24px, center)
  color: #FBFBFB
  margin: 25px auto 16px

.heading-servis-section-center
  margin-top: 18px

.txt-service-section
  @include txt(null, null, 14px, 17px, center)
  font-family: 'Lato-Light'
  color: #FBFBFB
  width: 360px

@media (max-width: 768px)
  .service-section-box
    flex-direction: column
    padding-bottom: 64px

  .service-section
    margin-top: 48px 

  .catalog-clothes-box
    gap: 20px
    grid-template-rows: 168px
    margin: 20px auto 

  .txt-catalog-clothes
    transform: translate(0, -100px)

  .txt-accesories
     transform: translate(0, -80px)   
 
@media (max-width: 376px)
  .catalog
    margin-bottom: 64px

  .catalog-clothes-box
    grid-template-columns: 1fr
    grid-template-rows: repeat(3, 248px)
    gap: 32px

  .img-catalog-clothes
    height: 248px  

  .accesories-img
    display: none

  .card-accesories
    background-image: url(../img/card-accesories-mobile.png)
    height: 111px
    background-size: cover
    margin-top: 32px
    transition: all 1s

  .card-accesories:hover 
    transform: scale(1.1)  

  .txt-accesories
    transform: translate(0, 35px)    

  .txt-featured
    margin-bottom: 64px

  .service-section-box
    flex-direction: column
    padding-bottom: 81px  
  
  .service-section
    margin-top: 48px
