* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf);
}

.container {
  font-family: "Lato-Regular";
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.nav-header {
  background: #222222;
}

.nav-header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.nav-header-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  position: relative;
  padding: 22px;
}

.menu-box {
  background-color: #FFFFFF;
  padding: 35px;
  width: 232px;
  position: absolute;
  left: 60px;
  top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.menu:hover .menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-heading {
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px;
}

.menu-subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 20px;
  margin-bottom: 12px;
  width: 232px;
}

.menu-link {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 11px auto;
  text-decoration: none;
  padding: 0 22px;
}

.menu-link:hover {
  color: #F16D7F;
}

.search {
  padding-top: 5px;
  margin-left: 41px;
}

.profile {
  margin: 0 33px 0 11px;
}

.button {
  display: block;
  border: 1px solid #F16D7F;
  text-align: center;
}

.button:hover {
  background-color: #F16D7F;
  color: #fff;
  border-color: #fff;
}

.button:hover .button-link {
  color: #fff;
}

.button:active {
  background-color: #fff;
  color: #F16D7F;
  border-color: #F16D7F;
}

.button:active {
  background-color: #fff;
}

.button:active .button-link {
  color: #F16D7F;
}

.button-sub {
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #F16D7F;
  width: 100px;
  border-radius: 0 15px 15px 0;
  color: #FFFFFF;
  border: none;
}

.button-sub:hover {
  background-color: #fff;
  color: #F16D7F;
}

.button-featured {
  width: 211px;
  min-height: 47px;
  margin: 49px auto;
}

.button-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F16D7F;
}

.button-cart-form {
  width: 100px;
  min-height: 34px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
}

.footer {
  width: 100%;
  background: #222224;
}

.content-footer {
  width: 100%;
  background-image: url(../img/back-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content-footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
}

.feedback {
  width: 360px;
}

.fhoto-feedback {
  display: block;
  margin: 0 auto;
}

.txt-feedback {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe {
  width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txt-subscribe {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.txt-subscribe span {
  font-family: 'Lato-Bold';
  font-size: 24px;
  line-height: 40px;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  background: #E1E1E1;
  width: 256px;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  padding: 11px 22px;
  border-radius: 15px 0 0 15px;
  border: 0px;
}

.footer-bottom {
  width: 100%;
}

.footer-bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
}

.txt-copyright {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.list-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.item-list-messengers {
  margin-right: 7px;
}

.fa-brands {
  color: #000;
  background-color: #FFFFFF;
}

.fa-brands:hover {
  background-color: #F16D7F;
  color: #fff;
}

.fa-facebook-f {
  height: 14px;
  width: 8px;
  padding: 8px 12px;
}

.fa-instagram {
  height: 14px;
  width: 14px;
  padding: 8px 8px;
}

.fa-pinterest-p {
  height: 14px;
  width: 13px;
  padding: 8px 9px;
}

.fa-twitter {
  height: 14px;
  width: 13px;
  padding: 8px 9px;
}

.main {
  background: #F1E4E6;
}

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-back {
  background: #F8F3F4;
}

.title-main-product {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.link-menu-product {
  text-decoration: none;
  font-family: 'Lato-Light';
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.link-product-actual {
  color: #F16D7F;
}

.line-main {
  width: 12px;
  background: #F16D7F;
  margin-right: 16px;
}

.title-main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-main {
  width: 377px;
  font-family: 'Lato-Bold';
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  text-transform: uppercase;
}

.title-main-start {
  font-family: 'Lato-Black';
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.title-main-start-end {
  color: #F16D7F;
}

@media (max-width: 768px) {
  .img-man-main {
    width: 368px;
  }
}

.select-box {
  text-align: center;
}

.select-box select {
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.select-box select:hover {
  color: #F16D7F;
}

#size-select {
  margin: 0 23px;
}

#color-select {
  border: none;
}

#size-select {
  border: none;
}

#quantity-select {
  border: none;
}

.featured-items-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-item-box {
  margin-bottom: 30px;
  width: 360px;
  position: relative;
}

.featured-item-box:hover .img-featured-item {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.featured-item-box:hover .img-featured-item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-item-link {
  text-decoration: none;
  margin-right: 30px;
  display: block;
  width: 360px;
  background: #F8F8F8;
}

.txt-featured-item-box {
  padding: 25px 25px 18px 18px;
}

.heading-featured-item {
  margin-bottom: 13px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.txt-featured-item {
  font-family: 'Lato-Light';
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.price-featured-item {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 200px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  display: none;
}

.add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #FFFFFF;
  padding: 10px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: auto;
}

.add-cart:hover {
  -webkit-box-shadow: 0 0 10px 0 #FFFFFF;
          box-shadow: 0 0 10px 0 #FFFFFF;
}

.txt-add-cart {
  margin-left: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.cart-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px;
}

.cart-item-link {
  text-decoration: none;
}

.img-cart-item {
  height: 100%;
}

.txt-cart-item-box {
  padding: 22px 32px;
}

.heading-cart-item {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart-list {
  text-transform: capitalize;
  font-size: 22px;
  line-height: 26px;
  list-style-type: none;
  color: #575757;
  margin-top: 42px;
}

.item-cart-list span {
  color: #F16D7F;
}

.input-quant-cart-list {
  width: 44px;
  height: 24px;
  text-align: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 96px;
  list-style-type: none;
  text-decoration: none;
  border: 1px solid #EBEBEB;
  width: 282px;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  margin: 0 12px;
}

.pagination li a {
  text-decoration: none;
}

.pagination li :hover {
  color: #F16D7F;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-filter {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-right: 11px;
}

.select-filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 132px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-box {
  margin: 0 auto;
}

.item7 {
  width: 360px;
  height: 420px;
}
/*# sourceMappingURL=catalog-style.css.map */